{% extends "base.html" %}

{% block main_content %}
    {{ post_macros::page_header(title=section.title) }}

    {% if section.content %}
        <section class="body">
            {{ section.content | safe }}
        </section>
    {% endif %}

    {% set posts = get_section(path="posts/_index.md") %}
    {% set_global all_posts = posts.pages %}

    {% for subsection_path in posts.subsections %}
        {% set subsection = get_section(path=subsection_path) %}
        {% set_global all_posts = all_posts | concat(with=subsection.pages) %}
    {% endfor %}

    {% set latest_posts = all_posts | sort(attribute="date") | reverse | slice(end=8) %}

    <main class="post-list">
        {{ post_macros::list_posts(pages=latest_posts) }}
    </main>
{% endblock main_content %}
