<meta name="author" content="{{ config.extra.author | default(value=config.author) }}" />
<meta name="search-index-lang" content="{{ config.default_language | default(value='en') }}" />
{% if page.extra.math | default(value=false) %}
  {% if not config.extra.mathjax | default(value=false) and not page.extra.mathjax | default(value=false) %}
    <script>
      MathJax = {
        tex: {
          inlineMath: [
            ['$', '$'],
            ['\\(', '\\)']
          ]
        }
      };
    </script>
    <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
  {% endif %}
{% endif %}
<script defer src="{{ get_url(path='js/image-loading.js') }}"></script>
{% if config.extra.mermaid | default(value=true) %}
  <script defer src="{{ get_url(path='js/mermaid-codeblocks.js') }}"></script>
{% endif %}
